<div class="container watermark-background" style="padding: 3rem; margin: 0 auto;">
    <div class="row">
        <div class="user-details-aside col-md-4">
            <h2>Welcome {{user?.firstname}}</h2>
            <div class="user-details-navbar d-flex flex-column mt-5">
                <a href="">
                    <p>Home</p>
                </a>
                <a href="">
                    <p>Purchase History</p>
                </a>
                <a style="cursor: pointer;" id="editUser">
                    <p>Edit User</p>
                </a>
                <a [routerLink]="['home']" (click)="logout()">
                    <p>Logout</p>
                </a>
            </div>

        </div>
        <div class="col-md-8">
            <h2>User Details</h2>
            <form class="row g-3 needs-validation mt-5" id="userDetails" [formGroup]="userDetails" novalidate>
                <div class="col-md-5">
                    <label for="firstname" class="form-label">First name</label>
                    <input type="text" formControlName="firstname" class="form-control" id="firstname" readonly>
                </div>
                <div class="col-md-5">
                    <label for="lastname" class="form-label">Last name</label>
                    <input type="text" formControlName="lastname" class="form-control" id="lastname" readonly>
                </div>
                <div class="col-md-10">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" formControlName="username" class="form-control" id="username" readonly>
                </div>
                <div class="col-md-10">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" formControlName="country" class="form-control" id="country" readonly>
                </div>
                <!-- necesito un espacio para la tarjeta -->
                 <div class="col-12">
            <button class="btn btn-primary" style="display: block;" id="saveChanges" style="display: none;" type="submit">Save Changes</button>
            <!--<button class="btn btn-primary" style="display: block;" (click)="logout()" type="submit">Purchase History</button>
            <button class="btn btn-primary" style="display: block;" (click)="logout()" type="submit">Edit User</button>-->
        </div> 
            </form>
        </div>
    </div>
</div>