@if (isLoading) {
    <div class="full-screen-spinner d-flex flex-column justify-content-center align-items-center">
    <mat-spinner class="spinner" diameter="80"></mat-spinner>
    <span>Wait a minute...</span>
  </div>
  }

<div class="container watermark-background" style="padding: 3rem; margin: 0 auto;">
    <div class="row">
        <div class="user-details-aside col-md-4">
            <h2>Welcome {{user?.firstname}}</h2>
            <div class="user-details-navbar d-flex flex-column mt-5">
                <a href="">
                    <p>Home</p>
                </a>
                <a [routerLink]="['/profile/favorites']">
                    <p>Favorite Books</p>
                </a>
                <a [routerLink]="['/profile/purchase-history']">
                    <p>Purchase History</p>
                </a>
                <a style="cursor: pointer;" id="editUser" (click)="enableEditMode()">
                    <p>Edit User</p>
                  </a>
                <a [routerLink]="['home']" (click)="logout()">
                    <p>Logout</p>
                </a>
            </div>

        </div>
        <div class="col-md-8">
            <h2>User Details</h2>
            <form class="row g-3 needs-validation mt-5" id="userDetails" [formGroup]="userDetails" novalidate>
                <div class="col-md-5">
                    <label for="firstname" class="form-label">First name</label>
                    <input type="text" formControlName="firstname" class="form-control" id="firstname" readonly>
                </div>
                <div class="col-md-5">
                    <label for="lastname" class="form-label">Last name</label>
                    <input type="text" formControlName="lastname" class="form-control" id="lastname" readonly>
                </div>
                <div class="col-md-10">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" formControlName="username" class="form-control" id="username" readonly>
                </div>
                <div class="col-md-10">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" formControlName="country" class="form-control" id="country" readonly>
                </div>
                 <div class="col-12">
                    <button class="btn btn-primary" style="display: none;" id="saveChanges"
                    (click)="editUser()" type="submit">Save Changes</button>
        </div> 
            </form>
        </div>
    </div>
</div>