<div class="container mt-5 mb-5">
  <h1>Cart Items</h1>
  <p style="font-weight: bold;">Total: ${{total| number:'1.2-2'}}</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">
          <p>Book</p>
        </th>
        <th scope="col">
          <p>Description</p>
        </th>
        <th style="text-align: center;" scope="col">
          <p>Quantity</p>
        </th>
        <th scope="col">
          <p>Price</p>
        </th>
        <th style="text-align: center;" scope="col">
          <p>Subtotal</p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productList">
        <th scope="row"><a [routerLink]="['/product', item.id]"><img style="max-width: 60px;" [src]="item?.image_url"
              alt="{{item?.title}}"></a></th>
        <td>
          <p>{{item.title}}</p>
          <p>{{item.authors}}</p>
        </td>
        <td>
          <div class="input-group w-auto justify-content-center align-items-center mb-3">
            <input type="button" (click)="eliminateItem(item)" value="-"
              class="button-minus border rounded-circle  icon-shape icon-sm mx-1 " data-field="quantity">
            <input type="text" value="{{item.quantity}}" name="quantity"
              class="quantity-field border-0 text-center w-25">
            <input type="button" (click)="addItem(item)" value="+"
              class="button-plus border rounded-circle icon-shape icon-sm " data-field="quantity">
          </div>
        </td>
        <td>
          <p>{{item.price | number:'1.2-2'}}</p>
        </td>
        <td style="text-align: center;">
          <p>{{item.subtotal | number:'1.2-2'}}</p>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex flex-row-reverse">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Success</button>
  </div>



  <!-- Modal -->
  <div style="margin-top: 5vh;" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cart Resume</h5>
          <!--         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->

        </div>

        <div class="modal-body">
          <div class="shopping-detail d-flex flex-column mb-3">
            <p>Shopping Cart</p>
            <p>You have {{productList.length}} items in your cart</p>
          </div>
          <div class="row justify-content-evenly">
            <div class="col-lg-6 col-12">
              <h4 style="font-weight: bolder; text-align: center;">YOUR PRODUCTS</h4>

              <div class="card mb-3" *ngFor="let item of productList">
                <div class="card-body">
                  <div class="d-flex justify-content-between">

                    <div class="d-flex flex-row align-items-center">
                      <div>
                        <!--  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;"> -->
                        <img class="img-fluid rounded-3" style="max-width: 60px;" [src]="item?.image_url"
                          alt="{{item?.title}}">
                      </div>
                      <div class="ms-3">
                        <p>{{item.title}}</p>
                        <p class="small mb-0">{{item.authors}}</p>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                      <div style="width: 50px;">
                        <p class="fw-normal mb-0">{{item.quantity}}</p>
                      </div>
                      <div style="width: 80px;">
                        <p class="mb-0">{{item.subtotal | number:'1.2-2'}}</p>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="pay-form col-lg-5 col-12">
              <div class="pay-form-container">

                <h4 style="font-weight: bolder; text-align: center;">PAYMENT</h4>
              <p style="font-size: 30px;">Total: ${{total| number:'1.2-2'}}</p>
              <p style="font-size: 25px;">Discounts: $0.00</p>

              <form style="margin-top: 3rem;" [formGroup]="shopForm">
                <div class="mb-3">
                  <label for="" class="form-label">Name on card</label>
                  <input formControlName="cardName" type="text" class="form-control" name="" id="" required>
                  <div *ngIf="cardName.invalid && (cardName.dirty || cardName.touched)" class="text-danger">
                    <div *ngIf="cardName.errors?.['minlength']">Invalid Length. Must be at least 10 characters.</div>
                    <div *ngIf="cardName.errors?.['required']">Name is required.</div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="" class="form-label">Card number</label>
                  <input formControlName="cardNumber" type="text" class="form-control" name="" id="" required>
                  <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)" class="text-danger">
                    <div *ngIf="cardNumber.errors?.['minlength']">Invalid Length. Must be at least 12 numbers.</div>
                    <div *ngIf="cardNumber.errors?.['maxlength']">Invalid Length. Must be at least 16 numbers</div>
                    <div *ngIf="cardNumber.errors?.['required']">Numbers required.</div>
                  </div>
                </div>

                <div class="d-flex justify-content-between mb-3">
                  <div>
                    <label for="" class="form-label">Expiration Date</label>
                    <input formControlName="expDate" type="month" class="form-control" name="" id="" required>
                    <div *ngIf="expDate.invalid && (expDate.dirty || expDate.touched)" class="text-danger">
                      <div *ngIf="expDate.errors?.['required']">Expiration date is required.</div>
                      <div *ngIf="expDate.errors?.['pattern']">Invalid date format. Use YYYY-MM.</div>
                    </div>
                  </div>
                  <div>
                    <label for="" class="form-label">CVV</label>
                    <input formControlName="cvv" type="text" class="form-control" maxlength="3" name="" id="" required>
                    <div *ngIf="cvv.invalid && (cvv.dirty || cvv.touched)" class="text-danger">
                      <div *ngIf="cvv.errors?.['required']">CVV is required.</div>
                      <div *ngIf="cvv.errors?.['minlength']">Invalid Length. CVV ust be 3 numbers</div>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-column justify-content-center mt-5">
                  <button type="button" class="btn btn-primary">BUY PRODUCTS</button>
                </div>
         

              </form>
              </div>
              
            </div>
          </div>

        </div>
        
      </div>
    </div>
  </div>


</div>