@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.main-section {
  min-height: 500px;
  padding: 30px;
}

.main-section h2 {
  font-size: clamp(1.2rem, 0.629rem + 1.524vw, 2rem);
}

.item-svg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-svg svg{
  width: 70px;
  height: 70px;
  margin-bottom: 3rem;
}

.item-svg p, h4{
  text-align: center;
}


/*Categories Section*/
.list-categories h1 {
  margin: 2rem 0;
  font-size: clamp(2rem, 1.643rem + 0.952vw, 2.5rem);
  text-align: left;
}

.container-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.list-categories {
  width: 70%;
}


/*media screen*/

@media screen and (max-width:767px) {
  .container {
    width: 100%;
  }
  .container h1{
    text-align: center;
  }
}
