.select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.select-container p {
  margin-top: 20px;
}

.select-box {
  border: none;
  padding: .5rem 0;
  color: rgba(233, 227, 227, 0.861);
  background-color: #432f2f;
  font-size: .8rem;
}

.select-box-header {
  text-align: center;
}

.select-box-header .options {
  font-size: 1rem;
}

.contenedor {
  width: 70%;
}


@media screen and (max-width:767px) {
  .filters-container{
    width: 70%;
  }
}