<div style="background-color: #c7c7c7;">
    <footer class="py-5"> <!-- le da 3 de padding arriba y abajo -->
        <div class="container">
            <div class="row">
                <div class="nav-container col-12 col-md-3 mb-3">
                    <h5>Aries Library</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Locales</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Politicas de
                                Privacidad</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Trabaja con
                                Nosotros</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Consultas</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Mi Cuenta</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-container col-12 col-md-3 mb-3">
                    <h5>Guia de Compra</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Preguntas
                                Frecuentes</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Costos y tiempo
                                de envio</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Devoluciones</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Cancelaciones</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-container col-12 col-md-3 mb-3">
                    <h5>Productos</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Libros por
                                Genero</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Libros por
                                Autor</a></li>
                    </ul>
                </div>
                <div class="nav-container col-12 col-md-3 mb-3">
                    <h5>Nuestras Redes</h5>
                    <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-whatsapp"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>