<div style="background-color: #c7c7c7;">
    <footer class="py-5"> <!-- le da 3 de padding arriba y abajo -->
        <div class="container">
            <div class="row">
                <div class="nav-item-name nav-container col-12 col-md-3 mb-3">
                    <h5>Aries Bookshop</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a class="nav-link p-0">Locals</a></li>
                        <li class="nav-item mb-2"><a class="nav-link p-0">Privacy Policies</a></li>
                        <li class="nav-item mb-2"><a class="nav-link p-0">Careers</a></li>
                        <li class="nav-item mb-2"><a [routerLink]="['/contact']" class="nav-link p-0">Contact</a>
                        </li>
                        <li class="nav-item mb-2"><a [routerLink]="['/profile']" class="nav-link p-0">My Account</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-item-name nav-container col-12 col-md-3 mb-3">
                    <h5>Purchase Guide</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a class="nav-link p-0">FAQs</a></li>
                        <li class="nav-item mb-2"><a class="nav-link p-0">Costs and Shipping</a></li>
                        <li class="nav-item mb-2"><a class="nav-link p-0">Return Policy</a>
                        </li>
                        <li class="nav-item mb-2"><a class="nav-link p-0">Cancel a Purchase</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-item-name nav-container col-12 col-md-3 mb-3">
                    <h5>Productos</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a [routerLink]="['/books']" class="nav-link p-0">Books by Genre</a></li>
                        <li class="nav-item mb-2"><a [routerLink]="['/books']" class="nav-link p-0">Books by Author</a></li>
                    </ul>
                </div>
                <div class="nav-container col-12 col-md-3 mb-3">
                    <h5>Our Social Media</h5>
                    <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
                        <a><i class="bi bi-facebook"></i></a>
                        <a> <i class="bi bi-whatsapp"></i></a>
                        <a> <i class="bi bi-instagram"></i></a>
                        <a> <i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>